* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: "Helvetica";
    src: url(fonts/Helvetica.ttf)
}
.main {
    max-width: 100%;
    margin: 100px auto;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.input-section, .output-section {
    background: #5581B5;
    height: 500px;
    width: 500px;
    
    border-radius: 5px;
}

.input-text-para, .output-text-para {
    font-size: 1.5rem;
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    color: #5581B5;
    margin: 0px auto 10px; 
}



textarea {
    width: 100%;
    height: 80%;
    max-width: 100%;
    max-height: 80%;
    
    resize: none;
    padding: 10px;
    border: 1px solid #5581B5;

    border-radius: 5px;
    outline: none;
    background: none;
    
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
    
    cursor: url("cursor/i-cursor-solid-full.svg") 4 4, text;
    caret-color: #ffffff;
    color: #ffffff;
}

textarea:focus {
    border: none;
    outline: none;
}

.input-section, .output-section {
    position: relative;
}

.bottom-section-input, .bottom-section-output {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
    margin:  25px auto;
}

button {
    padding: 8px 10px;
    height: 2.5rem;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: #5581B5;

    color: #ffffff;
    font-family: "Heletica", sans-serif;
    font-size: 1rem;
    cursor: url("cursor/hand-pointer-solid-full.svg") 4 4, text;
}

button:hover {
    box-shadow: 0px 0px 3px #2e73c7;
}

.copy-input, .copy-output {
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 10px;

    background: #5581B5;
    border-radius: 50%;
    cursor: url("cursor/hand-pointer-solid-full.svg") 4 4, text;
}
.copy-input:hover, .copy-output:hover {
    background: #2e73c7;
    
}

.copy-input:focus, .copy-output:focus {
    background: #2e73c7;

}

input[type="file"] {
    display: none;
}

.file {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.file-upload-icon, .file-input {
    color: #5581B5;
}


label {
    display: flex;
    align-items: center;
    height: 2.5rem;
    position: relative;

    background-color: #ffffff;
    font-family: "Helvetica", sans-serif;

    padding: 1em;
    border-radius: 0.3125em;
    cursor: url("cursor/hand-pointer-solid-full.svg") 4 4, text;
}


.disabled {
    cursor: not-allowed;
}